<script>
$(document).ready(function(){
  $('#order_pay_type').change(cc_selected);
});
function cc_selected() {
  var x = $("#pay_type option:selected ").html();
  if (x == 'Credit card' || x == 'Credit card ES') {
    $('#cc_number')[0].style.visibility = 'visible';
  } else {
    $('#cc_number')[0].style.visibility = "hidden";
  }
}
</script>
<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= raw t('errors.template.header', count: @order.errors.count,
      model: t('activerecord.models.order')) %>:</h2>
      <p><%= t('errors.template.body')%></p>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= raw message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :address, t('.address_html')%>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :email, t('.email') %>
    <%= f.text_field :email, size: 40 %>
  </div>

  <div class="field" id="pay_type" >
    <%= f.label :pay_type, t('.pay_type') %>
    <%= f.select :pay_type,
        options_for_select([
          [t('.check'), 'Check'],
          [t('.cc'), 'Credit card'],
          [t('.po'), 'Purchase order']
        ],
        selected: f.object.pay_type),
        prompt: t('.pay_prompt_html') %>
  </div>

  <div class="field" id="cc_number" style="visibility:<%=@visibility%>">
    <%= f.label :cc_number, 'Credit card number' %>
    <%= f.text_field :cc_number, size: 40 %>
  </div>

 <% if controller.action_name == 'edit' %>
  <% if @order.ship_date %>
  <div class="field" >
    <%= f.datetime_select :ship_date %>
  </div>
  <% else %>
    <div>Order is not shipped yet, please push 'Ship' button below.</div><br>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>

<% if controller.action_name == 'edit' %>
  <% unless @order.ship_date %>
      <%= button_to 'Ship', ship_order_path(order), remote: true %>
  <% end %>
<% end %>
